.container {
    @apply mx-auto;
    max-width: 600px;
    margin-top: 10px;
}

/* Для мобильных устройств */
@media (max-width: 767px) {
    .cart {
        height: 360px;
        width: 300px;

    }
}