

.cart-counter {
    color: #ffffff;
    font-size: 12px;
    width: 20px;
    height: 10px;
    border-radius: 50%;
    margin-right: 20px;
    animation: fadeInOut 1s ease-in-out;
}

@keyframes fadeInOut {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}